.events-cardlist {
    padding: 0;
    margin: 0;

    &__container-up {
        display: grid;
        gap: 20px;
        justify-content: center;
        list-style: none;
        grid-template-columns: repeat(3, auto);
        margin: 32px 0 0;
        padding: 0;
    }

    &__container-past {
        display: grid;
        gap: 40px 20px;
        justify-content: center;
        list-style: none;
        grid-template-columns: repeat(3, auto);
        margin: 32px 0 0;
        padding: 0;
    }
    
    &__title-up {
        font-family: 'YS Display';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #1A1A1A;
        margin: 48px 0 0;
    }
    
    &__title-past {
        font-family: 'YS Display';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #1A1A1A;
        margin: 60px 0 0;
    }

    &__pagination {
        margin: 60px 0 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__filters {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 20px 0px;
        gap: 12px;
        width: 1204px;
        height: 104px;
    }

    &__container-filter {
        display: flex;
        flex-wrap: wrap;
    }

    &__label {
        font-family: 'YS Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #1A1A1A;
    }

    &__select {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px;
        margin-top: 4px;
        background: #FFFFFF;
        border-radius: 20px;
        border: none;
        color: #8C9298;
        width: 248px;
    }

    &__filters-option {
        font-family: 'YS Text';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &-button {
        font-family: 'YS Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 10px;
        width: 166px;
        height: 40px;
        background: #B8A9F6;
        border-radius: 20px;
        opacity: 0.7;
    }
}