.past-events {
    padding: 0;
    margin: 0;

    &__container-up {
        display: grid;
        gap: 20px;
        justify-content: center;
        list-style: none;
        grid-template-columns: repeat(3, auto);
        margin: 32px 0 0;
        padding: 0;
    }

    &__container-past {
        display: grid;
        gap: 20px;
        justify-content: center;
        list-style: none;
        grid-template-columns: repeat(3, auto);
        margin: 32px 0 0;
        padding: 0;
    }
    
    &__title-up {
        font-family: 'YS Display';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #1A1A1A;
        margin: 48px 0 0;
    }
    
    &__title-past {
        font-family: 'YS Display';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #1A1A1A;
        margin: 60px 0 0;
    }

    &__pagination {
        margin: 60px 0 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}