.promo {
    background: url(../images/promo-main.jpg) 100%;
    height: 212px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 603px;
        height: 132px;
        padding-top: 35px;
        padding-left: 97px;
    }
    
    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        margin: 0;
        width: 337px;
        height: 88px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    &__title {
        font-family: 'YS Display';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 40px;
        color: #575990;
        margin: 0;
    }
    
    &__subtitle {
        font-family: 'YS Text';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #1A1A1A;
        margin: 0;
    }
    
    &__logo {
        width: 152px;
        height: 132px;
    }
}