@import '../../assets/fonts/fonts.scss';
/* rgb(245, 250, 255) */

.route {
  font-family: 'Yandex Sans Text';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 40px auto 64px 100px;
}

.event__name {
  font-family: 'Yandex Sans Text';
  /* font-family: 'Yandex Sans Display'; */
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-align: left;
}

.event__date {
  font-family: 'Yandex Sans Text';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.event__location {
  font-family: 'Yandex Sans Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(45, 111, 240, 1);
}

.event__type {
  font-family: 'Yandex Sans Text';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.event__columns {
  margin-top: 62px;
}

.event__card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}

.event__column {
  display: grid;
  margin-left: 120px;
}

.event__columns {
  display: flex;
}

.event__column1 {
  margin: 0px 90px 0px 118px;
}

.event__column2 {
  margin-right: 19%;
}

.event__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.event__video {
  border-radius: 24px;
  width: 782px;
  height: 440px;
}

.event__video-title {
  font-family: 'Yandex Sans Display';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.event__docs {
  font-family: 'Yandex Sans Display';
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.event__doc-link {
  font-family: 'Yandex Sans Text';
  margin: 42px 0px -30px 0px;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: rgba(45, 111, 240, 1);
}

.event__description {
  font-family: 'Yandex Sans Display';
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding: 80px 0px 0px 0px;
}

.event__description-p {
  font-family: 'Yandex Sans Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.event__tag {
  font-family: 'Yandex Sans Text';
  background: rgba(165, 244, 255, 1);
  margin: 0px 5px 0px 0;
  Padding: 5px 16px 5px 10px;
  border-radius: 20px;
}

.event__speakers {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0px 0px 200px;
}

.speaker-photo {
  width: 82px;
  height: 82px;
  border-radius: 100%;
}

.event__speakers-title {
  font-family: 'Yandex Sans Display';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding: 80px 0px 15px 0px;
}

.navbar {
  width: 184px;
}

.navbar__tag {
  font-family: 'Yandex Sans Text';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.event__speaker-name {
  font-family: 'Yandex Sans Text';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.event__speaker-job {
  font-family: 'Yandex Sans Text';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(140, 146, 152, 1);
}

.event__speaker-position {
  font-family: 'Yandex Sans Text';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.event__type {
  margin: 62px 0 14px 0;
}

.event__image {
  margin-right: 120px;
  width: 490px;
  height: 358px;
}