.header {
  width: 100%;
  height: 60px;
  background-color: rgba(62, 72, 93, 1);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 118px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 136px;
}

.header__title {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__login-container {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 81px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.header__login {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
  